{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Add attraction" %}{% endblock %}
{% block content %}
    <form method='post' action='.' class="form-small form-alone only-one-submit">
        {% csrf_token %}
        <h1>{% trans "Add attraction" %}:</h1>
        {{ form.as_p }}
        <button type='submit'>{% trans "Save" %}</button>
    </form>
{% endblock %}
