{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign in" %}{% endblock %}
{% block content %}
<div class="container">
  <form method="post" action="." class="form-small form-signin form-alone">
    {% csrf_token %} 
    {{ form.as_p }}
    <div>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</div>
    <div>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a>!</div>
    <button type="submit">{% trans 'Sign in' %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
