{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}
{% block content %}
<form method="post" action="." class="form-small form-alone">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">{% trans 'Submit' %}</button>
</form>
{% endblock %}
