{% load i18n %}

<script>
    $(function() {
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            }
        }
    });

    var participant_id;
    var method;

    $('form.ajax-form').on('submit', function (event) {
        event.preventDefault();
        participant_id = this.elements['participant'].value;

        if (this.id == ('form-confirm-' + participant_id))
            method = "confirm";
        else if (this.id == ('form-delete-' + participant_id))
            method = "delete";
        else
            return;

        $.ajax({
            url: "/forms/manage_participant/",
            type: "POST",
            data: {participant: this.elements['participant'].value, method: method},

            success: function (json) {
                if (method == "confirm") {
                    button_call = '#form-confirm-' + participant_id + ' :button[type="submit"]';
                    $(button_call).prop('disabled', true);
                    $(button_call).text(json.confirm);
                }
                else if (method == "delete") {
                    $('#tr-' + participant_id).hide();
                }

                participant_id = "";
                method = "";
            },
        });
    });
});
</script>

<h1>{% trans "Participants list:" %}</h1>
<table>
    {% if participants %}
        {% for participant in participants %}
            {% if forloop.first %}
                <thead>
                <tr>
                    <th>{% trans "№" %}</th>
                    {% if can_delete_participants %}
                        <th></th>
                        {% if attraction.confirm_registration %}
                            <th></th>
                        {% endif %}
                    {% endif %}
                    <th>{% trans "Fill date" %}</th>
                    {% for key, value in participant.data_ordered %}
                        <th>{{ key }}</th>
                    {% endfor %}

                </tr>
                </thead>
            {% endif %}
            <tr id="tr-{{ participant.id }}">
                <td>{{ forloop.counter }}.</td>
                 {% if can_delete_participants %}
                     {% if attraction.confirm_registration %}
                         {% if participant.confirmed %}
                             <td>
                                <button type="submit" class='drig-success disabled'>{% trans "Confirmed" %}</button>
                             </td>
                         {% else %}
                             <td>
                                <form method='POST' id="form-confirm-{{ participant.id }}"
                                      class="ajax-form" action='{% url "dynamic_forms.views.manage_participant" %}'>
                                    <input type='hidden' value='{{ participant.id }}' name='participant'>
                                    <button type='submit' class='drig-success'>{% trans "Confirm" %}</button>
                                </form>
                            </td>
                         {% endif %}
                     {% endif %}
                    </td>

                    <td>
                        <form method='POST' id="form-delete-{{ participant.id }}"
                              class="ajax-form" action='{% url "dynamic_forms.views.manage_participant"%}'>
                            <input type='hidden' value='{{ participant.id }}' name='participant'>
                            <button onclick="return confirm('{{ delete_confirmation }}')"
                                    type='submit' class='delete-button'>{% trans "Delete" %}</button>
                        </form>
                    </td>
                {% endif %}
                <td>{{ participant.fill_date }}</td>
                {% for key, value in participant.data_ordered %}
                    <td>{{ value.as_html }}</td>
                {% endfor %}

            </tr>
        {% endfor %}
    {% else %}
        <tr><td>{% trans "There are no participants" %}</td></tr>
    {% endif %}
</table>
