{% load i18n imagekit %}

<ul class="event-list">
  {% for event in events %}
    <li>
      <span class="event-category">{{ event.category }}</span>
      <a href="{% url "events.views.event_details" event.id %}" class="event-header">
        {% if event.get_logo %}
          {% thumbnail '100x100' event.get_logo -- class="thumbnail" %}
        {% endif %}
        <h4>{{ event.name }}</h4>
      </a>
      {% include "events/partials/time_interval.html" with start_date=event.start_date end_date=event.end_date %}
      <p>{% trans "Attractions" %}:
      {% for attraction in event.attractions.all %}
        <a href="{% url "events.views.attraction_details" attraction.id %}">
          {{ attraction.name }}</a>{% if not forloop.last %},{% endif %}{% empty %}
        {% trans "none yet" %}{% endfor %}.
      </p>
    </li>
  {% empty %}
    <li>{% trans "No upcoming events..." %}</li>
  {% endfor %}
</ul>
