.errorlist {
    padding-left: 0;
    li {
        .alert;
        .alert-danger;
        list-style-type: none;
    }
}
.messages {
    margin: 10px 20px;
}

table {
    .table;
    .table-striped;
    .table-hover;
}
