label {
    display: block;
    margin-bottom: 0;
}
form.form-small input:not([type="checkbox"]), form textarea, select {
    .form-control;
}
form.form-small textarea {
    height: 100px;
}

.form-alone {
    margin: 60px auto 0;
}

.form-small {
    max-width: 300px;
}

form.form-small button[type="submit"] {
    .btn;
    .btn-primary;
    .btn-block;
}
form.form-small button[type="submit"] {
    .btn-lg;
}

form .delete-button {
    .btn;
    .btn-sm;
    .btn-danger !important;
    width: auto;
}
form .errorlist {
    li {
        padding: 0 5px;
        margin: 2px 0;
    }
    margin: 15px 0 0;
}
form .form-error {
    input, textarea {
        border-color: @state-danger-text !important;
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)) !important;
    }
    label {
        color: @state-danger-text;
    }
}
form .form-required {
    label:before {
        content: "*";
        position: absolute;
        margin-left: -1em;
        color: red;
    }
}
form .helptext {
    .help-block;
    font-size: 0.9em;
}

form .upload-file-button {
    .btn;
    .btn-sm;
    .btn-primary;
    position: relative;
    overflow: hidden;
    margin: 5px;
    input[type="file"] {
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 0;
        left: 0;
    }
}
